.anuncioEndtHome {
    position: relative;
    background-image: url('../imagens/jardim6.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    overflow: hidden;
}

.anuncioEndtHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    pointer-events: none;
}

/* faq end home */
.accordion-item{
    border-radius: 10px !important;
    background-color: transparent !important;
}

.accordion-header button.accordion-button.collapsed{
    border: 1px solid var(--creamyBiscotti2) !important;
    border-radius: 10px  !important;
}

.accordion-header button.accordion-button{
    font-size: 20px !important;
    color: var(--oliveWood);
    font-weight: 600;
    background-color: transparent;
    box-shadow: none !important;
    border: 1px solid var(--oliveWood) !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.accordion-collapse.collapse.show{
    background-color: transparent !important;
    border-radius:0 0 10px 10px !important;
    border: 1px solid var(--oliveWood) !important;
    border-top: none !important;
}
.accordion-collapse.collapsing{
    background-color: transparent !important;
    border-radius:0 0 10px 10px !important;
    border: 1px solid var(--oliveWood) !important;
    border-top: none !important;
}

.accordion-body{
    padding-top: unset !important;
}