.garantiaDetalhesProduto_container{
    color: var(--slateBlue);
    background-color: var(--slateBlueLow);
    padding: 10px;
    border-radius: 20px;
}

.garantiaDetalhesProduto_container i{
    color: var(--slateBlue);
    border-radius: 50px;
    background-color: var(--slateBlueLow);
    padding: 20px;
}

.garantiaDetalhesProduto_container p{
    opacity: 0.7;
    font-size: 15px;
}

.p-divider.p-divider-vertical:before{
    border: 1px solid var(--slateBlue) !important;
    opacity: 0.2;
}