.geralDetalhesProduto_content h1 {
    color: var(--oliveWood);
    font-size: 55px;
    font-weight: 600;
}

.geralDetalhesProduto_content p {
    color: var(--oliveWood);
}

.geralDetalhesProduto_content p.descProduto {
    opacity: 0.7;
}

.geralDetalhesProduto_content h5 {
    font-size: 30px;
    font-weight: 700;
    color: var(--tuscanRed);
}

.geralDetalhesProduto_content p.coresTitle {
    font-weight: 600;
    opacity: 0.7;
}

.geralDetalhesProduto_actions button , .geralDetalhesProduto_actions a button{
    border: 2px dashed var(--slateBlue);
    background-color:transparent;
    color: var(--slateBlue);
    padding: 8px ;
    border-radius: 10px;
    transition: .3s all ease;
    font-weight: 500;
}

.geralDetalhesProduto_actions button:hover, .geralDetalhesProduto_actions a button:hover{
    background-color: var(--slateBlueLow);
    border-radius: 20px;
}

.geralDetalhesProduto_actions a button.buyNow{
    background-color: var(--tuscanRedLow);
    color: var(--tuscanRed);
    border-color: var(--tuscanRed);
}

.p-rating-item svg{
    color: goldenrod;
}