.mainLeftHome {
    position: relative;
    background-image: url('../imagens/jardim5.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    overflow: hidden;
}

.mainLeftHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    pointer-events: none;
}


/* .tagLeftHome{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 840px;
} */

.tagLeftHome button {
    z-index: 1;
    padding: 6px 10px !important;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: var(--white);
    transition: all .3s;
}

.tagLeftHome button:hover {
    background-color: var(--white);
    color: var(--oliveWood);
}

.tagLeftHome button.activeTag {
    background-color: var(--white);
    color: var(--oliveWood);
}

.textLeftHome {
    z-index: 1;
}

.textLeftHome h2,
.textLeftHome p {
    color: var(--white);
}

.textLeftHome h2 {
    font-size: 50px;
    font-weight: 400;
    margin: unset !important;
}

.textLeftHome p {
    font-size: 25px;
    font-weight: 200;
    margin-top: unset !important;
    margin-bottom: 20px;
}

.callBacktLeftHome a button {
    text-align: center;
    align-self: center !important;
    font-size: 14px;
    background-color: var(--white);
    color: var(--oliveWood);
    padding: 6px 12px !important;
    border-radius: 50px;
    border: none;
    transition: all .3s;
}

.callBacktLeftHome a i {
    text-align: center;
    font-size: 14px;
    background-color: var(--white);
    color: var(--oliveWood);
    padding: 10px !important;
    border-radius: 50px;
    border: none;
    transition: all .3s;
}

.callBacktLeftHome a button:hover,
.callBacktLeftHome a i:hover {
    background-color: var(--creamyBiscotti);
}

.mainRightHome {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.titleRightHome h1 {
    color: var(--oliveWood);
    font-size: 40px;
    margin: 0 20px;
    font-weight: 400;
    text-align: left;
}

.anuncioRightHome {
    display: flex;
    background-color: var(--creamyBiscotti);
    padding: 15px;
    border-radius: 30px;
}

.anuncioRightHome .exclusive {
    font-size: 15px;
    width: fit-content;
    background-color: var(--creamyBiscotti2);
    color: var(--oliveWood);
    padding: 9px 12px !important;
    border-radius: 50px;
}

.anuncioRightHomeText h4, .anuncioRightHomeText p{
    color: var(--oliveWood);
}

.anuncioRightHomeText h4{
    font-size: 20px;
}

.anuncioRightHomeText p{
    opacity: 0.6;
    font-size: 14px;
}

.anuncioRightHome img {
    width: 100% !important;
    height:197px;
    object-fit: cover;
    border-radius: 20px;
}

.anuncioRightHome a i {
    background-color: var(--creamyBiscotti2);
    color: var(--oliveWood);
    padding: 12px !important;
    border-radius: 40px;
    transition: all .3s;
}

.anuncioRightHome a i:hover {
    background-color: var(--creamyBiscottiDark);
}

.newsLetterHome {
    position: relative;
    background-image: url('../imagens/jardim7.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    overflow: hidden;
}

.newsLetterHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    pointer-events: none;
}


.newsLetterHomeText {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsLetterHomeText h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--creamyBiscotti);
    margin-bottom: 20px;
}


.newsLetterHomeSubscribe input{
    background-color: transparent;
    border-radius: 50px;
    backdrop-filter: blur(8px);
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--creamyBiscotti);
    transition: all .2s ease;
}

.newsLetterHomeSubscribe input:focus{
    outline: none;
    border: 2px solid var(--creamyBiscotti);
}

.newsLetterHomeSubscribe input::placeholder{
    color: var(--creamyBiscotti);
}

.newsLetterHomeSubscribe button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--creamyBiscotti);
    border-radius: 50px;
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--oliveWood);
    transition: all .3s ease;
}

.newsLetterHomeSubscribe button:hover{
    background-color: var(--creamyBiscottiDark);
    border-color: var(--creamyBiscottiDark);
}