.textMediumHome h1, .textMediumHome p{
    color: var(--oliveWood);
}

.textMediumHome h1{
    font-weight: 400;
    opacity: 0.6;
}

.textMediumHome p{
    opacity: 0.5;
}

.tagRightHome .p-tabview-nav-content {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    position: relative;
}