.addColorBtn {
    background-color: var(--oliveWoodSuperLow);
    color: var(--oliveWoodLow);
    border-radius: 10px;
    border: 2px dashed var(--oliveWoodLow);
}

.removeColorDescricoes{
    padding: 5px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    background: transparent;
    color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}

.removeColorDescricoes:hover{
    background: rgb(207, 15, 57);
    color: white;
}