.suporteHeader {
    /* background-image: url('../imagens/bgSuporte.svg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* object-fit: cover; */
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suporteHeader h1 {
    color: var(--oliveWood);
    opacity: 0.6;
}

.suporteHeader p {
    margin: unset;
    color: var(--oliveWood);
    opacity: 0.5;
}


.suporteContainer {
    z-index: 1;
    border-radius: 30px;
    width: 45% !important;
}

.suporteContainer h5,
.suporteContainer p {
    color: var(--oliveWood);
}

.suporteContainer h5 {
    opacity: 0.6;
}

.suporteContainer p {
    opacity: 0.5;
}

.suporteContainer label {
    color: var(--oliveWood);
    font-size: 12px;
    padding: 0 6px !important;
    border-radius: 5px;
    margin-bottom: 6px;
    position: absolute;
    background-color: var(--white);
    top: -10px !important;
    left: 20px;
}

.suporteContainer input,
.suporteContainer textarea {
    color: var(--oliveWood);
    border: 1px solid var(--oliveWoodLow) !important;
    /* box-shadow: 1px 1px 20px 1px var(--creamyBiscottiDark)inset !important ; */
    border-radius: 50px;
    padding: 8px 15px;
    background-color: transparent;
    transition: all .3s ease;
}

.suporteContainer textarea {
    border-radius: 30px;
}

.suporteContainer input:hover,
.suporteContainer textarea:hover {
    box-shadow: 1px 1px 20px 1px var(--creamyBiscotti2)inset !important;
}

.suporteContainer input:focus,
.suporteContainer textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--oliveWood) !important;
    background-color: var(--creamyBiscotti2);
}

.suporteContainer input::placeholder,
.suporteContainer textarea::placeholder {
    color: var(--oliveWood);
    opacity: 0.3;
}

.suporteContainer input.errorInputCadastro, .suporteContainer textarea.errorInputCadastro{
    border-color: var(--tuscanRed) !important;
}

.suporteContainer button {
    text-decoration: none;
    background-color: var(--tuscanRed);
    color: var(--white);
    border-radius: 50px;
    padding: 8px 15px;
    transition: all .3s;
    border: 1px solid var(--tuscanRed);
}

.suporteContainer button:hover {
    box-shadow: 1px 1px 10px 1px var(--tuscanRed);
}

.suporteContainer a {
    color: var(--palidRed);
    text-decoration: underline !important;
}

.suporteContainer i {
    color: var(--palidRed);
}

.suporteContainer a:hover {
    color: var(--palidRedDark);
}