.tabDetalhesProduto_container{
border: 1.5px solid var(--oliveWoodSuperLow);
border-radius: 20px;
padding: unset !important;
}

.tabDetalhesProduto_container .p-tabview .p-tabview-nav, .tabDetalhesProduto_container .p-tabview .p-tabview-panels, .tabDetalhesProduto_container .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background: transparent;
    color: var(--tuscanRed);
}

.tabDetalhesProduto_container .p-tabview .p-tabview-nav, .tabDetalhesProduto_container .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    border-color: var(--oliveWoodSuperLow);
}

.tabDetalhesProduto_container .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    border-color: var(--tuscanRed);
}

.especificações_produto p{
    color: var(--oliveWoodLow);
    font-weight: 500;
}

.especificações_produto p span{
    color: var(--oliveWood);
}