.anuncioEndtHome {
    position: relative;
    background-image: url('../imagens/jardim9.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    overflow: hidden;
}

.anuncioEndtHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    pointer-events: none;
}

.anuncioEndHomeContent {
    z-index: 1;
    /* background-color: var(--creamyBiscotti); */
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 20px;
}

.anuncioEndHomeContent h4 {
    color: var(--creamyBiscotti);
    margin: unset;
    font-weight: 400;
}

.anuncioEndHomeContent p{
    margin: unset;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.1rem;
    margin-bottom: 12px;
    color: var(--creamyBiscotti);
    opacity: 0.7;
}

.anuncioEndHomeContent button{
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--creamyBiscotti);
    color: var(--creamyBiscotti);
    padding: 8px 20px;
    font-weight: 500;
    transition: all .3s ease;
}

.anuncioEndHomeContent button:hover{
    border-color: transparent;
}

/* faq end home */
.faqEndHome .accordion-item {
    border: none;
    border-radius: 50px !important;
    background-color: transparent !important;
}

.faqEndHome .accordion-header button.accordion-button.collapsed {
    border: 1px solid var(--creamyBiscotti2) !important;
    color: var(--oliveWood);
    opacity: 0.6;
    border-radius: 50px !important;
}

.faqEndHome .accordion-header button.accordion-button {
    font-size: 20px !important;
    color: var(--oliveWood);
    font-weight: 600;
    background-color: transparent;
    box-shadow: none !important;
    border: 1px solid var(--oliveWood) !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.faqEndHome .accordion-collapse.collapse.show {
    background-color: transparent !important;
    border-radius: 0 0 10px 10px !important;
    border: 1px solid var(--oliveWood) !important;
    border-top: none !important;
}

.faqEndHome .accordion-collapse.collapsing {
    background-color: transparent !important;
    border-radius: 0 0 10px 10px !important;
    border: 1px solid var(--oliveWood) !important;
    border-top: none !important;
}

.faqEndHome .accordion-body {
    padding-top: unset !important;
}