.textMediumHome h1,
.textMediumHome p {
    color: var(--oliveWood);
}

.textMediumHome h1 {
    font-size: 50px;
    font-weight: 500;
    opacity: 0.6;
}

.textMediumHome p {
    font-size: 26px !important;
    opacity: 0.5;
}

.tagRightHome .p-tabview-nav-content {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    position: relative;
}

.tagMediumHomeCategoriaTitulo p{
    position: relative;
    margin: unset;
    color: var(--oliveWoodLow);
    font-size: 20px;
}

.tagMediumHomeCategoriaTitulo p::after{
    position: absolute;
    content: '';
    top: 50%;
    margin-left: 20px;
    width: 200px;
    height: 1px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--oliveWoodLow), transparent);
}

.tagMediumHomeCategoriaTitulo p::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -220px;
    width: 200px;
    height: 1px;
    border-radius: 50px;
    background: linear-gradient(to left, var(--oliveWoodLow), transparent);
}