.tabContentMediumHome i{
color: var(--oliveWood);
background-color: var(--creamyBiscotti);
border-radius: 50px;
padding: 10px;
transition: all .3s ease;
}

.tabContentMediumHome i:hover{
background-color: var(--creamyBiscotti2);
}

.tabContentMediumHome h5.exclusive{
    border-radius: 50px;
    border: 1px solid var(--creamyBiscotti);
    padding: 4px 12px;
    font-size: 16px;
    color: var(--creamyBiscotti);
    backdrop-filter: blur(6px);
    text-align: center !important;
}

.tabContentMediumHome img{
transition: all .4s ease;
}

.tabContentMediumHome img:hover {
    transform: translateY(-5px);
}